body
{
font-family: arvo;
font-size: 30px;
background-color: #263238; /* just black */
}

h1
{
font-family: arvo;
font-size: 60px;
color: #4CAF50; /* md green */
text-align: center;
}

h2
{
font-family: arvo;
font-size: 40px;
color: #4CAF50; /* md green */
text-align: center;
}

p,br,button,center
{
font-family: arvo;
font-size: 20px;
color: #ECEFF1; /* almost white */
text-align: center;
}

table
{
border: 0px;
width: 100%;
padding: 0;
}

@media (max-width: 500px)
{
body
{
background-color: #ECEFF1; /* some shit */
}
}

/* below font names are for reference only */

/* font-family: 'Arvo', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Nunito', sans-serif; */

/* three main colors of our site are: */
/* just black: #263238 */
/* md green: #4CAF50 */
/* almost white: #ECEFF1 */
