/* ONLY SOME STUFF WORKS IN EXTERNAL STYLESHEET, IDK WHY!! */

body
{
background-color: #263238; /* quite black */
}

h1 /* for main headings & titles */
{
color: #4CAF50; /* md green */
text-align: center;
font-style: normal;
}

h2 /* for subtitles */
{
color: #4CAF50; /* md green */
text-align: center;
font-style: normal;
}

h3 /* for regular text */
{
color: #ECEFF1; /* almost white */
text-align: center;
font-style: normal;
}

p,br,button,center /* for timepass */
{
color: #ECEFF1; /* almost white */
text-align: center;
font-style: normal;
}

table /* dining table??? */
{
border: 0px;
width: 100%;
padding: 0;
}

@media (max-width: 400px) /* this is the @media query used to optimize the page for mobile */
{



}

/* below font names are for reference only */

/* font-family: 'Arvo', serif;
font-family: 'Rubik', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Nunito', sans-serif; */

/* 3 main colors of our site are:
quite black: #263238
md green: #4CAF50
almost white: #ECEFF1 */
