body
{
font-family: 'Arvo', serif;
font-size: 30px;
background-color: #263238; /*soft black*/
}

h1
{
font-family: 'Arvo', serif;
font-size: 60px;
color: #00C853; /*sea green*/
text-align: center;
}

h2
{
font-family: 'Arvo', serif;
font-size: 40px;
color: #00C853; /*sea green*/
text-align: center;
}

p
{
font-family: 'Arvo', serif;
font-size: 20px;
color: #00C853; /*sea green*/
text-align: center;
}

br
{
font-family: 'Arvo', serif;
font-size: 60px;
color: #00C853; /*sea green*/
text-align: center;
}

button
{
font-family: 'Arvo', serif;
font-size: 60px;
color: #00C853; /*sea green*/
text-align: center;
}

center
{
font-family: 'Arvo', serif;
font-size: 20px;
color: #ECEFF1
}

@media (max-width: 500px)
{
p1
{
color: #9FA8DA; /*some shit*/
}
}

table
{
border: 0px;
width: 100%;
padding: 0;
}
