h1
{
font-family: "arvo";
color: #4682B4;
text-align: center;
size: 100px;
}

p
{
font-family: "Prestige Elite Std Bold";
font-size: 25px;
color: #4682B4;
text-align: left;
}

body
{
background-color: #FFFAFA;
background-image: url("Images/blue_gradient.svg");
background-image: url("Images/bg3.svg");
font-size: 40;
}

h2
{
	font-size: 40px;
	font-family: "arvo";
	color: soft black;
}

table {
    border: 0px;
		background:#FFFFFF;
		width: 100%;
		padding: 0;
}

.outerLink
        {
            background-color:black;
            display:block;
            opacity:1;
            filter:alpha(opacity=100);
            width:200px;
        }

img.darkableImage
        {
            opacity:1;
            filter:alpha(opacity=100);
        }
